.form-container {
  margin-top: 88px;
  padding-inline: 24px 23px;
}

label {
  color: var(--Very-dark-violet);
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1.7px;
}

input {
  font-family: var(--Space-Grotesk);
  height: 45px;
  padding-left: 16px;
  border-radius: 7px;
  border: 1px solid rgb(218, 218, 218);
  transition: all 200ms ease-out;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: none;
}

input:focus,
input:focus-visible {
  border: 1px solid transparent;
  background: linear-gradient(to right, white, white),
    linear-gradient(to right, rgb(100, 72, 254), rgb(96, 5, 148));
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  outline: none;
}

::placeholder {
  font-size: 18px;
  color: var(--Dark-grayish-violet);
  font-family: var(--Space-Grotesk);
}

.flex-container {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.form-container > div:not(:first-child) {
  margin-top: 22px;
}

.exp-number-container {
  display: flex;
  gap: 8px;
}

.exp-number-container > input {
  width: 72px;
}

.inline-input-container {
  display: flex;
  gap: 11px;
}

.cvc-input-container > input {
  width: 100%;
}

button {
  display: block;
  margin-top: 28px;
  width: 100%;
  background-color: var(--Very-dark-violet);
  height: 53px;
  border-radius: 7px;
  color: white;
  font-family: var(--Space-Grotesk);
  font-size: 17px;
  border: 2px solid transparent;
  outline: none;
  cursor: pointer;
  transition: all 200ms ease-out;
}

button:hover {
  border: 2px solid transparent;
  background-color: white;
  color: var(--Very-dark-violet);
  background: linear-gradient(to right, white, white),
    linear-gradient(to right, rgb(100, 72, 254), rgb(96, 5, 148));
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}

button:focus,
button:focus-visible {
  outline: 1px solid black;
  background-color: white;
  color: black;
}
