@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

:root {
  --DarkBlue: hsl(240, 38%, 20%);
  --GrayishBlue: hsl(240, 18%, 77%);
}

body {
  font-size: 2rem;
  font-family: "Inter", sans-serif;
  padding-top: 24px;
}