@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

:root {
  --Linear-gradient-active-input-border: rgb(100, 72, 254) to rgb(96, 5, 148);
  --Red-input-errors: rgb(255, 82, 82);
  --White: rgb(255, 255, 255);
  --Light-grayish-violet: rgb(222, 221, 223);
  --Dark-grayish-violet: rgb(142, 133, 147);
  --Very-dark-violet: rgb(33, 9, 47);
  --Space-Grotesk: "Space Grotesk", sans-serif;
}

body {
  font-size: 18px;
  font-family: "Space Grotesk", sans-serif;
  padding-bottom: 28px;
}

img {
  display: block;
}

header {
  position: relative;
  height: 240px;
  background-image: url("./images/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-size: cover;
}

.card-container {
  position: relative;
  z-index: 9999;
  top: 0px;
  height: 100%;
  max-width: 420px;
  margin: 0 auto;
}

.card-front {
  width: 286px;
  height: 157px;
  position: absolute;
  top: 122.4px;
  left: 4.27%;
  background-image: url("./images/bg-card-front.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: 2px 55px 31px -25px rgb(224 224 224);
}

.card-front-info {
  padding-left: 20px;
  padding-top: 18px;
  padding-right: 20px;
}

.logo-container img {
  width: 55px;
  height: 30px;
}

.number-container {
  margin-top: 32px;
  color: white;
  letter-spacing: 2.4px;
  font-weight: 500;
  font-size: 18px;
}

.last-container {
  margin-top: 18px;
  display: flex;
  color: white;
  justify-content: space-between;
  font-size: 11px;
  letter-spacing: 0.3px;
}

.card-back {
  width: 290px;
  height: 157px;
  position: absolute;
  top: 32px;
  right: 4.27%;
}

.card-back-p {
  position: absolute;
  right: 39px;
  top: 68.5px;
  color: rgb(242 250 253);
  font-size: 14px;
}

.card-back img {
  max-width: 100%;
}

@media screen and (min-width: 1200px) {
  #root {
    display: flex;
    flex-direction: row;
    gap: 24%;
  }

  body {
    padding-bottom: unset;
  }

  header {
    width: 33.6%;
    max-width: 730px;
    height: 100vh;
    background-image: url("./images/bg-main-desktop.png");
  }

  .card-container {
    max-width: unset;
    width: 541px;
    height: 526px;
    display: flex;
    margin: unset;
    top: 50%;
    /* left: 33%; */
    /* right: -222px; */
    right: -34%;
    transform: translateY(-50%);
  }

  .card-back,
  .card-front {
    box-shadow: none;
    width: 446px;
    height: 244px;
  }

  .card-front {
    top: 0;
    left: 0;
  }

  .card-front-info {
    padding-left: 32px;
    padding-top: 26px;
    padding-right: 33px;
  }

  .logo-container img{
    width: 84px;
    height: 48px;
  }
  .number-container {
    margin-top: 55px;
    font-size: 31px;
    letter-spacing: 3px;
  }

  .last-container {
    font-size: 16px;
    letter-spacing: 2px;
    margin-top: 25px;
  }

  .card-back {
    top: unset;
    bottom: 0;
    right: 0;
  }

  .card-back-p {
    right: 60px;
    top: 109px;
    font-size: 18px;
  }

  main {
    display: flex;
    align-items: center;
  }

  .form-container {
    margin: unset;
  }
}
